@page "/Expert"

<section class="Title">
	<h1>
		Expert test stuff
	</h1>

	<button onclick="@(() => CallCollections())" class="btn btn-primary nav-addin"><div>Add to collections</div></button>
</section>
